<div class="social-share">
    <b>Share:</b>

    <a href="https://www.facebook.com/sharer/sharer.php?u=@UrlToShare" target="_blank" rel="noopener noreferrer nofollow">
        <Icon IconImage="icons/facebook.svg" InvertColor="true" AltIconImageText="Facebook icon" />
    </a>

    <a href="https://www.linkedin.com/sharing/share-offsite/?url=@UrlToShare" target="_blank" rel="noopener noreferrer nofollow">
        <Icon IconImage="icons/linkedin.svg" InvertColor="true" AltIconImageText="LinkedIn icon" />
    </a>

    <a href="https://twitter.com/intent/tweet?url=@UrlToShare&text=@EncodedText" target="_blank" rel="noopener noreferrer nofollow">
        <Icon IconImage="icons/x.svg" InvertColor="true" AltIconImageText="Twitter/X icon" />
    </a>

    <a href="mailto:?subject=@TextToShare&body=@MailBody" target="_blank" rel="noopener noreferrer nofollow">
        <Icon IconImage="icons/mail.svg" InvertColor="true" AltIconImageText="Mail icon" />
    </a>
</div>

@code {
    [Parameter]
    public required string UrlToShare { get; set; }
    [Parameter]
    public required string TextToShare { get; set; }

    public required string EncodedText;
    public required string MailBody;

    protected override void OnInitialized()
    {
        EncodedText = System.Net.WebUtility.UrlEncode(TextToShare);
        MailBody = $"{@TextToShare}%0D%0A{@UrlToShare}";
    }
}
