@inject HttpClient Http

<div class="authorbar">
    <div class="photo">
        <img src="@this.author.PhotoUrl" />
    </div>
    <div class="name">
        <p id="name">@this.author.Name</p>
    </div>
    <div class="description">
        <p id="description">@this.author.Description</p>
    </div>
</div>

@code {
    private ViewModels.Author author;

    protected override async Task OnInitializedAsync()
    {
        author = await Http.GetFromJsonAsync<ViewModels.Author>("data/author.json");
    }
}
