<div class="footer">
    <div class="footerItemsContainer">
        <div class="footerItem">
            <NavLink href="https://github.com/Tff27" target="_blank">
                <Icon IconImage="icons/github.svg" InvertColor="true" />
                <span>Tff27</span>
            </NavLink>
        </div>
        <div class="footerItem">
            <NavLink href="https://www.linkedin.com/in/tiagofonseca27/" target="_blank">
                <Icon IconImage="icons/linkedin.svg" InvertColor="true" />
                <span>tiagofonseca27</span>
            </NavLink>
        </div>
        <div class="footerItem">
            <NavLink href="https://twitter.com/tff_27" target="_blank">
                <Icon IconImage="icons/twitter.svg" InvertColor="true" />
                <span>tff_27</span>
            </NavLink>
        </div>
    </div>
    <p class="disclaimer">© @DateTime.UtcNow.Year Tiago Fonseca. All Rights Reserved.</p>
    <span>This blog is available on <a href="https://github.com/Tff27/tff-blog">GitHub</a></span>
    <span>This website uses cookies to ensure you get the best experience
        <NavLink class="nav-link" href="cookie-policy">
            <span class="nav-item-text">cookie policy</span>
        </NavLink>
    </span>
</div>

@code {
   
}
