<div class="footer-container">
    <div class="footer-row">
        <span>
            This website uses cookies to ensure you get the best experience
            <NavLink class="nav-link" href="cookie-policy">
                <span class="nav-item-text">cookie policy</span>
            </NavLink>
        </span>
        <Social InvertColor=true />
    </div>
    <p class="disclaimer">© @DateTime.UtcNow.Year Tiago Fonseca. All Rights Reserved.</p>
</div>

@code {

}
