@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>
    <aside>
        <AuthorComponent />
    </aside>

    <footer>
        <FooterComponent />
    </footer>
</div>
