.page {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: auto 2.5fr auto;
    gap: 0px 0px;
}

header {
    min-height: 15vh;
    grid-area: 1 / 1 / 2 / 3;
    background: #0a0b0c;
}

main {
    grid-area: 2 / 1 / 3 / 2;
    background: #1a1c20;
    overflow-x: hidden;
}

aside {
    grid-area: 2 / 2 / 3 / 3;
    background: #bfbfbf;
    color: #0a0b0c;
}

footer {
    min-height: 15vh;
    grid-area: 3 / 1 / 4 / 3;
    background: #0a0b0c;
}


@media only screen and (max-width: 768px) {
    .page {
        grid-template-rows: auto 1fr auto auto;
    }

    header {
        max-height: 15vh;
    }

    main {
        grid-area: 2 / 1 / 2 / 3;
    }

    aside {
        grid-area: 3 / 1 / 3 / 3;
    }

    footer {
        max-height: 15vh;
        grid-area: 4 / 1 / 4 / 3;
    }
}
