@inherits LayoutComponentBase

<div class="page">
    <header>
        <div class="logo">

        </div>
        <div class="menu">
            <NavMenu />
        </div>
    </header>

    <main>
        @Body
    </main>
    <aside>
        <AuthorComponent />
    </aside>

    <footer>
        <FooterComponent />
    </footer>
</div>
