<div class="navbar @NavBarCssClass">
    <div class="navbar-top">
        <div class="navbar-brand">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="logo" src="images/logo.png" alt="Tiago Fonseca Blog Logo" />
            </NavLink>
        </div>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="oi oi-menu"></span>
        </button>
    </div>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenuOnNavigation">
        <ul class="navbar-menu">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-item-text">Home</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    <span class="nav-item-text">About</span>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavBarCssClass => !collapseNavMenu ? "mobile" : null;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleNavMenuOnNavigation()
    {
        if (NavMenuCssClass != "collapse")
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
}