@page "/post/{slug}"
@inject IHttpClientFactory ClientFactory
@inject NavigationManager UriHelper

@if (postdetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <article>
        <img src=@postdetails.Image alt=@postdetails.Title>
        <div class="container">
            <h1><b>@postdetails.Title</b></h1>
            <div class="info-container">
                <span>@postdetails.Date</span>
                @foreach (var tag in postdetails.Tags)
                {
                    <span class="tag">@tag</span>
                }
            </div>
            <p>
                <Markdown MarkdownContent="@postdetails.Text" />
            </p>
        </div>
    </article>
}

@code {
    [Parameter]
    public string slug { get; set; }

    private PostModel postdetails;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("WebAPI");
            
            postdetails = (await client.GetFromJsonAsync<IEnumerable<PostModel>>($"?postName={slug}")).First();
        }
        catch (Exception)
        {
            UriHelper.NavigateTo("404");
        }
    }
}