article {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container {
    padding: 2px 16px;
}

img {
    width: 100%;
    max-height: 20vh;
    object-fit: fill;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    border-radius: 8%;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    margin-left: 0.4rem;
    padding: 0.15rem;
}
