@inject IHttpClientFactory ClientFactory

<div class="post-container">
    @foreach (var post in PostList.Posts)
    {
        <PostCardComponent Post="@post" />
    }
</div>

@code {
    public PostListViewModel PostList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("WebAPI");

        this.PostList = new PostListViewModel();

        this.PostList.Posts = await client.GetFromJsonAsync<IEnumerable<PostViewModel>>(string.Empty);

        //TODO: add failure page
    }
}
