@inject HttpClient Http

<div class="post-container">
    @foreach (var post in PostList.Posts)
    {
        <PostCardComponent Post="@post" />
    }
</div>

@code {
    public PostListViewModel PostList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.PostList = new PostListViewModel();

        this.PostList.Posts = await Http.GetFromJsonAsync<IEnumerable<PostViewModel>>("metadata/metadata.json");
    }
}
