@inject IHttpClientFactory ClientFactory

<div class="post-container">
    @foreach (var post in PostList.Posts)
    {
        <PostCardComponent Post="@post" />
    }
</div>

@code {
    public PostListViewModel PostList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("WebAPI");

            this.PostList = new PostListViewModel();

            this.PostList.Posts = await client.GetFromJsonAsync<IEnumerable<PostModel>>(string.Empty);
        }
        catch (Exception)
        {
            this.PostList = new PostListViewModel();
        }
    }
}
